
struct              GtkOffscreenWindow;
inherit             gtk3.GtkWindow;

GtkWidget *         gtk_offscreen_window_new            (void);
cairo_surface_t *   gtk_offscreen_window_get_surface    (GtkOffscreenWindow *offscreen);
GdkPixbuf *         gtk_offscreen_window_get_pixbuf     (GtkOffscreenWindow *offscreen);
