
struct                    GdkVisual;
inherit                   gobject.GObject;

enum                GdkVisualType;
enum                GdkByteOrder;
void                gdk_query_depths                    (gint **depths,
                                                         gint *count);
void                gdk_query_visual_types              (GdkVisualType **visual_types,
                                                         gint *count);
GList *             gdk_list_visuals                    (void);
gint                gdk_visual_get_bits_per_rgb         (GdkVisual *visual);
void                gdk_visual_get_blue_pixel_details   (GdkVisual *visual,
                                                         guint32 *mask,
                                                         gint *shift,
                                                         gint *precision);
GdkByteOrder        gdk_visual_get_byte_order           (GdkVisual *visual);
gint                gdk_visual_get_colormap_size        (GdkVisual *visual);
gint                gdk_visual_get_depth                (GdkVisual *visual);
void                gdk_visual_get_green_pixel_details  (GdkVisual *visual,
                                                         guint32 *mask,
                                                         gint *shift,
                                                         gint *precision);
void                gdk_visual_get_red_pixel_details    (GdkVisual *visual,
                                                         guint32 *mask,
                                                         gint *shift,
                                                         gint *precision);
GdkVisualType       gdk_visual_get_visual_type          (GdkVisual *visual);
gint                gdk_visual_get_best_depth           (void);
GdkVisualType       gdk_visual_get_best_type            (void);
GdkVisual *         gdk_visual_get_system               (void);
GdkVisual *         gdk_visual_get_best                 (void);
GdkVisual *         gdk_visual_get_best_with_depth      (gint depth);
GdkVisual *         gdk_visual_get_best_with_type       (GdkVisualType visual_type);
GdkVisual *         gdk_visual_get_best_with_both       (gint depth,
                                                         GdkVisualType visual_type);
GdkVisual *         gdk_screen_get_system_visual        (GdkScreen *screen);
GdkVisual *         gdk_screen_get_rgba_visual          (GdkScreen *screen);
