struct GtkIconSizeEnumOps;
inherit gobject.GObject;

gboolean            gtk_icon_size_lookup                (GtkIconSize size,
                                                         gint *width,
                                                         gint *height);
gboolean            gtk_icon_size_lookup_for_settings   (GtkSettings *settings,
                                                         GtkIconSize size,
                                                         gint *width,
                                                         gint *height);
GtkIconSize         gtk_icon_size_register              (const gchar *name,
                                                         gint width,
                                                         gint height);
void                gtk_icon_size_register_alias        (const gchar *alias,
                                                         GtkIconSize target);
GtkIconSize         gtk_icon_size_from_name             (const gchar *name);
const gchar *       gtk_icon_size_get_name              (GtkIconSize size);
