
struct              GtkOffscreenWindow;
inherit             gtk3.GtkWindow;

GtkWidget *         gtk_offscreen_window_new            (void);
GdkPixbuf *         gtk_offscreen_window_get_pixbuf     (GtkOffscreenWindow *offscreen);
