struct       PangoFontDescription;
inherit gobejct.GBoxed;
enum                PangoStyle;
enum                PangoWeight;
enum                PangoVariant;
enum                PangoStretch;
enum                PangoFontMask;
PangoFontDescription * pango_font_description_new       (void);
PangoFontDescription * pango_font_description_copy      (const PangoFontDescription *desc);
PangoFontDescription * pango_font_description_copy_static
                                                        (const PangoFontDescription *desc);
guint               pango_font_description_hash         (const PangoFontDescription *desc);
gboolean            pango_font_description_equal        (const PangoFontDescription *desc1,
                                                         const PangoFontDescription *desc2);
void                pango_font_description_free         (PangoFontDescription *desc);
void                pango_font_descriptions_free        (PangoFontDescription **descs,
                                                         int n_descs);
void                pango_font_description_set_family   (PangoFontDescription *desc,
                                                         const char *family);
void                pango_font_description_set_family_static
                                                        (PangoFontDescription *desc,
                                                         const char *family);
const char *        pango_font_description_get_family   (const PangoFontDescription *desc);
void                pango_font_description_set_style    (PangoFontDescription *desc,
                                                         PangoStyle style);
PangoStyle          pango_font_description_get_style    (const PangoFontDescription *desc);
void                pango_font_description_set_variant  (PangoFontDescription *desc,
                                                         PangoVariant variant);
PangoVariant        pango_font_description_get_variant  (const PangoFontDescription *desc);
void                pango_font_description_set_weight   (PangoFontDescription *desc,
                                                         PangoWeight weight);
PangoWeight         pango_font_description_get_weight   (const PangoFontDescription *desc);
void                pango_font_description_set_stretch  (PangoFontDescription *desc,
                                                         PangoStretch stretch);
PangoStretch        pango_font_description_get_stretch  (const PangoFontDescription *desc);
void                pango_font_description_set_size     (PangoFontDescription *desc,
                                                         gint size);
gint                pango_font_description_get_size     (const PangoFontDescription *desc);
void                pango_font_description_set_absolute_size
                                                        (PangoFontDescription *desc,
                                                         double size);
gboolean            pango_font_description_get_size_is_absolute
                                                        (const PangoFontDescription *desc);
void                pango_font_description_set_gravity  (PangoFontDescription *desc,
                                                         PangoGravity gravity);
PangoGravity        pango_font_description_get_gravity  (const PangoFontDescription *desc);
PangoFontMask       pango_font_description_get_set_fields
                                                        (const PangoFontDescription *desc);
void                pango_font_description_unset_fields (PangoFontDescription *desc,
                                                         PangoFontMask to_unset);
void                pango_font_description_merge        (PangoFontDescription *desc,
                                                         const PangoFontDescription *desc_to_merge,
                                                         gboolean replace_existing);
void                pango_font_description_merge_static (PangoFontDescription *desc,
                                                         const PangoFontDescription *desc_to_merge,
                                                         gboolean replace_existing);
gboolean            pango_font_description_better_match (const PangoFontDescription *desc,
                                                         const PangoFontDescription *old_match,
                                                         const PangoFontDescription *new_match);
PangoFontDescription * pango_font_description_from_string
                                                        (const char *str);
char *              pango_font_description_to_string    (const PangoFontDescription *desc);
char *              pango_font_description_to_filename  (const PangoFontDescription *desc);
