struct GtkIconSource;
inherit gobject.GObject;

GtkTextDirection    gtk_icon_source_get_direction       (const GtkIconSource *source);
gboolean            gtk_icon_source_get_direction_wildcarded
                                                        (const GtkIconSource *source);
#define             gtk_icon_source_get_filename
GdkPixbuf *         gtk_icon_source_get_pixbuf          (const GtkIconSource *source);
const gchar *       gtk_icon_source_get_icon_name       (const GtkIconSource *source);
GtkIconSize         gtk_icon_source_get_size            (const GtkIconSource *source);
gboolean            gtk_icon_source_get_size_wildcarded (const GtkIconSource *source);
GtkStateType        gtk_icon_source_get_state           (const GtkIconSource *source);
gboolean            gtk_icon_source_get_state_wildcarded
                                                        (const GtkIconSource *source);
GtkIconSource *     gtk_icon_source_new                 (void);
void                gtk_icon_source_set_direction       (GtkIconSource *source,
                                                         GtkTextDirection direction);
void                gtk_icon_source_set_direction_wildcarded
                                                        (GtkIconSource *source,
                                                         gboolean setting);
#define             gtk_icon_source_set_filename
void                gtk_icon_source_set_pixbuf          (GtkIconSource *source,
                                                         GdkPixbuf *pixbuf);
void                gtk_icon_source_set_icon_name       (GtkIconSource *source,
                                                         const gchar *icon_name);
void                gtk_icon_source_set_size            (GtkIconSource *source,
                                                         GtkIconSize size);
void                gtk_icon_source_set_size_wildcarded (GtkIconSource *source,
                                                         gboolean setting);
void                gtk_icon_source_set_state           (GtkIconSource *source,
                                                         GtkStateType state);
void                gtk_icon_source_set_state_wildcarded
                                                        (GtkIconSource *source,
                                                         gboolean setting);
GtkIconSource *     gtk_icon_source_copy                (const GtkIconSource *source);
void                gtk_icon_source_free                (GtkIconSource *source);
