struct GFileIOStream;
inherit gio.GIOStream;

char *              g_file_io_stream_get_etag           (GFileIOStream *stream);
GFileInfo *         g_file_io_stream_query_info         (GFileIOStream *stream,
                                                         const char *attributes,
                                                         GCancellable *cancellable,
                                                         GError **error);
void                g_file_io_stream_query_info_async   (GFileIOStream *stream,
                                                         const char *attributes,
                                                         int io_priority,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
GFileInfo *         g_file_io_stream_query_info_finish  (GFileIOStream *stream,
                                                         GAsyncResult *result,
                                                         GError **error);
