struct                   GIOStream;
inherit gobject.GObject;

GInputStream *      g_io_stream_get_input_stream        (GIOStream *stream);
GOutputStream *     g_io_stream_get_output_stream       (GIOStream *stream);
void                g_io_stream_splice_async            (GIOStream *stream1,
                                                         GIOStream *stream2,
                                                         GIOStreamSpliceFlags flags,
                                                         int io_priority,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_io_stream_splice_finish           (GAsyncResult *result,
                                                         GError **error);
gboolean            g_io_stream_close                   (GIOStream *stream,
                                                         GCancellable *cancellable,
                                                         GError **error);
void                g_io_stream_close_async             (GIOStream *stream,
                                                         int io_priority,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_io_stream_close_finish            (GIOStream *stream,
                                                         GAsyncResult *result,
                                                         GError **error);
gboolean            g_io_stream_is_closed               (GIOStream *stream);
gboolean            g_io_stream_has_pending             (GIOStream *stream);
gboolean            g_io_stream_set_pending             (GIOStream *stream,
                                                         GError **error);
void                g_io_stream_clear_pending           (GIOStream *stream);