
struct                    GCancellable;
inherit     gobject.GObject;

GCancellable *      g_cancellable_new                   (void);
gboolean            g_cancellable_is_cancelled          (GCancellable *cancellable);
gboolean            g_cancellable_set_error_if_cancelled
                                                        (GCancellable *cancellable,
                                                         GError **error);
int                 g_cancellable_get_fd                (GCancellable *cancellable);
gboolean            g_cancellable_make_pollfd           (GCancellable *cancellable,
                                                         GPollFD *pollfd);
void                g_cancellable_release_fd            (GCancellable *cancellable);
GSource *           g_cancellable_source_new            (GCancellable *cancellable);
GCancellable *      g_cancellable_get_current           (void);
void                g_cancellable_pop_current           (GCancellable *cancellable);
void                g_cancellable_push_current          (GCancellable *cancellable);
void                g_cancellable_reset                 (GCancellable *cancellable);
gulong              g_cancellable_connect               (GCancellable *cancellable,
                                                         GCallback callback,
                                                         gpointer data,
                                                         GDestroyNotify data_destroy_func);
void                g_cancellable_disconnect            (GCancellable *cancellable,
                                                         gulong handler_id);
void                g_cancellable_cancel                (GCancellable *cancellable);