struct                  GFileMonitor;
inherit gobject.GObject;
gboolean            g_file_monitor_cancel               (GFileMonitor *monitor);
gboolean            g_file_monitor_is_cancelled         (GFileMonitor *monitor);
void                g_file_monitor_set_rate_limit       (GFileMonitor *monitor,
                                                         gint limit_msecs);
void                g_file_monitor_emit_event           (GFileMonitor *monitor,
                                                         GFile *child,
                                                         GFile *other_file,
                                                         GFileMonitorEvent event_type);