struct GDrive;
inherit gio.GInterface;

enum                GDriveStartFlags;
enum                GDriveStartStopType;
char *              g_drive_get_name                    (GDrive *drive);
GIcon *             g_drive_get_icon                    (GDrive *drive);
gboolean            g_drive_has_volumes                 (GDrive *drive);
GList *             g_drive_get_volumes                 (GDrive *drive);
gboolean            g_drive_can_eject                   (GDrive *drive);
GDriveStartStopType  g_drive_get_start_stop_type        (GDrive *drive);
gboolean            g_drive_can_start                   (GDrive *drive);
gboolean            g_drive_can_start_degraded          (GDrive *drive);
gboolean            g_drive_can_stop                    (GDrive *drive);
gboolean            g_drive_can_poll_for_media          (GDrive *drive);
void                g_drive_poll_for_media              (GDrive *drive,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_drive_poll_for_media_finish       (GDrive *drive,
                                                         GAsyncResult *result,
                                                         GError **error);
gboolean            g_drive_has_media                   (GDrive *drive);
gboolean            g_drive_is_media_check_automatic    (GDrive *drive);
gboolean            g_drive_is_media_removable          (GDrive *drive);
void                g_drive_eject                       (GDrive *drive,
                                                         GMountUnmountFlags flags,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_drive_eject_finish                (GDrive *drive,
                                                         GAsyncResult *result,
                                                         GError **error);
void                g_drive_eject_with_operation        (GDrive *drive,
                                                         GMountUnmountFlags flags,
                                                         GMountOperation *mount_operation,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_drive_eject_with_operation_finish (GDrive *drive,
                                                         GAsyncResult *result,
                                                         GError **error);
void                g_drive_start                       (GDrive *drive,
                                                         GDriveStartFlags flags,
                                                         GMountOperation *mount_operation,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_drive_start_finish                (GDrive *drive,
                                                         GAsyncResult *result,
                                                         GError **error);
void                g_drive_stop                        (GDrive *drive,
                                                         GMountUnmountFlags flags,
                                                         GMountOperation *mount_operation,
                                                         GCancellable *cancellable,
                                                         GAsyncReadyCallback callback,
                                                         gpointer user_data);
gboolean            g_drive_stop_finish                 (GDrive *drive,
                                                         GAsyncResult *result,
                                                         GError **error);
char **             g_drive_enumerate_identifiers       (GDrive *drive);
char *              g_drive_get_identifier              (GDrive *drive,
                                                         const char *kind);
