struct GEmblemedIcon;
inherit object;

GType g_emblemed_icon_get_type (void) G_GNUC_CONST;

GIcon *g_emblemed_icon_new (GIcon *icon,
                                    GEmblem *emblem);
GIcon *g_emblemed_icon_get_icon (GEmblemedIcon *emblemed);
GList *g_emblemed_icon_get_emblems (GEmblemedIcon *emblemed);
void g_emblemed_icon_add_emblem (GEmblemedIcon *emblemed,
                                    GEmblem *emblem);
void g_emblemed_icon_clear_emblems (GEmblemedIcon *emblemed);
