
                    GMainLoop;
inherit            gobject.GObject;
GMainLoop *         g_main_loop_new                     (GMainContext *context,
                                                         gboolean is_running);
GMainLoop *         g_main_loop_ref                     (GMainLoop *loop);
void                g_main_loop_unref                   (GMainLoop *loop);
void                g_main_loop_run                     (GMainLoop *loop);
void                g_main_loop_quit                    (GMainLoop *loop);
gboolean            g_main_loop_is_running              (GMainLoop *loop);
GMainContext *      g_main_loop_get_context             (GMainLoop *loop);
#define             g_main_new                          (is_running)
#define             g_main_destroy                      (loop)
#define             g_main_run                          (loop)
#define             g_main_quit                         (loop)
#define             g_main_is_running                   (loop)

#define             G_PRIORITY_HIGH
#define             G_PRIORITY_DEFAULT
#define             G_PRIORITY_HIGH_IDLE
#define             G_PRIORITY_DEFAULT_IDLE
#define             G_PRIORITY_LOW

#define             G_SOURCE_CONTINUE
#define             G_SOURCE_REMOVE

