
struct              GtkCssProvider;
inherit             gobject.GObject;

GtkCssProvider *    gtk_css_provider_get_default        (void);
GtkCssProvider *    gtk_css_provider_get_named          (const gchar *name,
                                                         const gchar *variant);
gboolean            gtk_css_provider_load_from_data     (GtkCssProvider *css_provider,
                                                         const gchar *data,
                                                         gssize length,
                                                         GError **error);
gboolean            gtk_css_provider_load_from_file     (GtkCssProvider *css_provider,
                                                         GFile *file,
                                                         GError **error);
gboolean            gtk_css_provider_load_from_path     (GtkCssProvider *css_provider,
                                                         const gchar *path,
                                                         GError **error);
GtkCssProvider *    gtk_css_provider_new                (void);
char *              gtk_css_provider_to_string          (GtkCssProvider *provider);

