struct              GtkStyleProperties;
inherit object;

void                gtk_style_properties_clear          (GtkStyleProperties *props);
void                gtk_style_properties_get            (GtkStyleProperties *props,
                                                         GtkStateFlags state,
                                                         ...);
gboolean            gtk_style_properties_get_property   (GtkStyleProperties *props,
                                                         const gchar *property,
                                                         GtkStateFlags state,
                                                         GValue *value);
void                gtk_style_properties_get_valist     (GtkStyleProperties *props,
                                                         GtkStateFlags state,
                                                         va_list args);
GtkSymbolicColor *  gtk_style_properties_lookup_color   (GtkStyleProperties *props,
                                                         const gchar *name);
gboolean            gtk_style_properties_lookup_property
                                                        (const gchar *property_name,
                                                         GtkStylePropertyParser *parse_func,
                                                         GParamSpec **pspec);
void                gtk_style_properties_map_color      (GtkStyleProperties *props,
                                                         const gchar *name,
                                                         GtkSymbolicColor *color);
void                gtk_style_properties_merge          (GtkStyleProperties *props,
                                                         const GtkStyleProperties *props_to_merge,
                                                         gboolean replace);
GtkStyleProperties * gtk_style_properties_new           (void);
gboolean            (*GtkStylePropertyParser)           (const gchar *string,
                                                         GValue *value,
                                                         GError **error);
void                gtk_style_properties_register_property
                                                        (GtkStylePropertyParser parse_func,
                                                         GParamSpec *pspec);
void                gtk_style_properties_set            (GtkStyleProperties *props,
                                                         GtkStateFlags state,
                                                         ...);
void                gtk_style_properties_set_property   (GtkStyleProperties *props,
                                                         const gchar *property,
                                                         GtkStateFlags state,
                                                         const GValue *value);
void                gtk_style_properties_set_valist     (GtkStyleProperties *props,
                                                         GtkStateFlags state,
                                                         va_list args);
void                gtk_style_properties_unset_property (GtkStyleProperties *props,
                                                         const gchar *property,
                                                         GtkStateFlags state);