
struct              GtkAdjustment;
inherit             gobject.GObject;
GtkAdjustment *     gtk_adjustment_new                  (gdouble value,
                                                         gdouble lower,
                                                         gdouble upper,
                                                         gdouble step_increment,
                                                         gdouble page_increment,
                                                         gdouble page_size);
gdouble             gtk_adjustment_get_value            (GtkAdjustment *adjustment);
void                gtk_adjustment_set_value            (GtkAdjustment *adjustment,
                                                         gdouble value);
void                gtk_adjustment_clamp_page           (GtkAdjustment *adjustment,
                                                         gdouble lower,
                                                         gdouble upper);
void                gtk_adjustment_changed              (GtkAdjustment *adjustment);
void                gtk_adjustment_value_changed        (GtkAdjustment *adjustment);
void                gtk_adjustment_configure            (GtkAdjustment *adjustment,
                                                         gdouble value,
                                                         gdouble lower,
                                                         gdouble upper,
                                                         gdouble step_increment,
                                                         gdouble page_increment,
                                                         gdouble page_size);
gdouble             gtk_adjustment_get_lower            (GtkAdjustment *adjustment);
gdouble             gtk_adjustment_get_page_increment   (GtkAdjustment *adjustment);
gdouble             gtk_adjustment_get_page_size        (GtkAdjustment *adjustment);
gdouble             gtk_adjustment_get_step_increment   (GtkAdjustment *adjustment);
gdouble             gtk_adjustment_get_upper            (GtkAdjustment *adjustment);
void                gtk_adjustment_set_lower            (GtkAdjustment *adjustment,
                                                         gdouble lower);
void                gtk_adjustment_set_page_increment   (GtkAdjustment *adjustment,
                                                         gdouble page_increment);
void                gtk_adjustment_set_page_size        (GtkAdjustment *adjustment,
                                                         gdouble page_size);
void                gtk_adjustment_set_step_increment   (GtkAdjustment *adjustment,
                                                         gdouble step_increment);
void                gtk_adjustment_set_upper            (GtkAdjustment *adjustment,
                                                         gdouble upper);