
struct              GtkAccelLabel;
inherit gtk3.GtkLabel;

GtkWidget *         gtk_accel_label_new                 (const gchar *string);
void                gtk_accel_label_set_accel_closure   (GtkAccelLabel *accel_label,
                                                         GClosure *accel_closure);
GtkWidget *         gtk_accel_label_get_accel_widget    (GtkAccelLabel *accel_label);
void                gtk_accel_label_set_accel_widget    (GtkAccelLabel *accel_label,
                                                         GtkWidget *accel_widget);
guint               gtk_accel_label_get_accel_width     (GtkAccelLabel *accel_label);
void                gtk_accel_label_set_accel           (GtkAccelLabel *accel_label,
                                                         guint accelerator_key,
                                                         GdkModifierType accelerator_mods);
gboolean            gtk_accel_label_refetch             (GtkAccelLabel *accel_label);