struct                    GdkPixbuf;
inherit                   gobject.GObject;

enum                GdkPixbufError;
enum                GdkColorspace;
enum                GdkPixbufAlphaMode;

GdkColorspace       gdk_pixbuf_get_colorspace           (const GdkPixbuf *pixbuf);
int                 gdk_pixbuf_get_n_channels           (const GdkPixbuf *pixbuf);
gboolean            gdk_pixbuf_get_has_alpha            (const GdkPixbuf *pixbuf);
int                 gdk_pixbuf_get_bits_per_sample      (const GdkPixbuf *pixbuf);
guchar *            gdk_pixbuf_get_pixels               (const GdkPixbuf *pixbuf);
guchar *            gdk_pixbuf_get_pixels_with_length   (const GdkPixbuf *pixbuf,
                                                         guint *length);
int                 gdk_pixbuf_get_width                (const GdkPixbuf *pixbuf);
int                 gdk_pixbuf_get_height               (const GdkPixbuf *pixbuf);
int                 gdk_pixbuf_get_rowstride            (const GdkPixbuf *pixbuf);
gsize               gdk_pixbuf_get_byte_length          (const GdkPixbuf *pixbuf);
const gchar *       gdk_pixbuf_get_option               (GdkPixbuf *pixbuf,
                                                         const gchar *key);
