struct               GdkScreen;
inherit            gobject.GObject;
GdkScreen *         gdk_screen_get_default              (void);
GdkScreen *         gdk_visual_get_screen               (GdkVisual *visual);
gboolean            gdk_screen_is_composited            (GdkScreen *screen);
GdkWindow *         gdk_screen_get_root_window          (GdkScreen *screen);
GdkDisplay *        gdk_screen_get_display              (GdkScreen *screen);
gint                gdk_screen_get_number               (GdkScreen *screen);
gint                gdk_screen_get_width                (GdkScreen *screen);
gint                gdk_screen_get_height               (GdkScreen *screen);
gint                gdk_screen_get_width_mm             (GdkScreen *screen);
gint                gdk_screen_get_height_mm            (GdkScreen *screen);
GList *             gdk_screen_list_visuals             (GdkScreen *screen);
GList *             gdk_screen_get_toplevel_windows     (GdkScreen *screen);
gchar *             gdk_screen_make_display_name        (GdkScreen *screen);
gint                gdk_screen_get_n_monitors           (GdkScreen *screen);
gint                gdk_screen_get_primary_monitor      (GdkScreen *screen);
void                gdk_screen_get_monitor_geometry     (GdkScreen *screen,
                                                         gint monitor_num,
                                                         GdkRectangle *dest);
void                gdk_screen_get_monitor_workarea     (GdkScreen *screen,
                                                         gint monitor_num,
                                                         GdkRectangle *dest);
gint                gdk_screen_get_monitor_at_point     (GdkScreen *screen,
                                                         gint x,
                                                         gint y);
gint                gdk_screen_get_monitor_at_window    (GdkScreen *screen,
                                                         GdkWindow *window);
gint                gdk_screen_get_monitor_height_mm    (GdkScreen *screen,
                                                         gint monitor_num);
gint                gdk_screen_get_monitor_width_mm     (GdkScreen *screen,
                                                         gint monitor_num);
gchar *             gdk_screen_get_monitor_plug_name    (GdkScreen *screen,
                                                         gint monitor_num);
gboolean            gdk_screen_get_setting              (GdkScreen *screen,
                                                         const gchar *name,
                                                         GValue *value);
void                gdk_screen_set_font_options         (GdkScreen *screen,
                                                         const cairo_font_options_t *options);
gdouble             gdk_screen_get_resolution           (GdkScreen *screen);
void                gdk_screen_set_resolution           (GdkScreen *screen,
                                                         gdouble dpi);
GdkWindow *         gdk_screen_get_active_window        (GdkScreen *screen);
GList *             gdk_screen_get_window_stack         (GdkScreen *screen);
