
struct              GtkMisc;
inherit gtk3.GtkWidget;

void                gtk_misc_set_alignment              (GtkMisc *misc,
                                                         gfloat xalign,
                                                         gfloat yalign);
void                gtk_misc_set_padding                (GtkMisc *misc,
                                                         gint xpad,
                                                         gint ypad);
void                gtk_misc_get_alignment              (GtkMisc *misc,
                                                         gfloat *xalign,
                                                         gfloat *yalign);
void                gtk_misc_get_padding                (GtkMisc *misc,
                                                         gint *xpad,
                                                         gint *ypad);