struct                  GdkPixbufSimpleAnim;
inherit gtk3.GdkPixbufAnimation;

GdkPixbufSimpleAnim * gdk_pixbuf_simple_anim_new        (gint width,
                                                         gint height,
                                                         gfloat rate);
void                gdk_pixbuf_simple_anim_add_frame    (GdkPixbufSimpleAnim *animation,
                                                         GdkPixbuf *pixbuf);
void                gdk_pixbuf_simple_anim_set_loop     (GdkPixbufSimpleAnim *animation,
                                                         gboolean loop);
gboolean            gdk_pixbuf_simple_anim_get_loop     (GdkPixbufSimpleAnim *animation);
