
struct              PangoFontMetrics;
inherit gobject.GBoxed;

PangoFontMetrics *  pango_font_metrics_ref              (PangoFontMetrics *metrics);
void                pango_font_metrics_unref            (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_ascent       (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_descent      (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_approximate_char_width
                                                        (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_approximate_digit_width
                                                        (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_underline_thickness
                                                        (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_underline_position
                                                        (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_strikethrough_thickness
                                                        (PangoFontMetrics *metrics);
int                 pango_font_metrics_get_strikethrough_position
                                                        (PangoFontMetrics *metrics);
